<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Typ wydarzeń" value="Dyscypliny indywidualne;Trening;Organizacja;Sędziowanie;Dyscypliny zespołowe;Dyscypliny indywidualne drużynowe"/>
    <add key="Dyscypliny indywidualne" value="Pływanie/szachy;Inne"/>
    <add key="Dyscypliny zespołowe" value="Badminton;Ringo;Ping pong;Streetball;Brydż;Inne"/>
    <add key="Trening" value="Trening"/>
  </appSettings>
  
</configuration>

  