<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Typ wydarzeń" value="Dyscypliny indywidualne;Trening;Organizacja;Sędziowanie;Dyscypliny zespołowe;Dyscypliny indywidualne drużynowe"/>
    <add key="Dyscypliny indywidualne" value="Pływanie;Szachy;Narty;Łyżwy;Indywidualne biegi przełajowe;Inne"/>
    <add key="Dyscypliny zespołowe" value="Piłka nożna;Piłka ręczna;Siatkówka;Koszykówka;Badminton;Ringo;Ping pong;Streetball;Brydż;Inne"/>
    <add key="Trening" value="Trening"/>
    <add key="Organizacja" value="Organizacja wydarzenia"/>
    <add key="Sędziowanie" value="Sędziowanie"/>
    <add key="Dyscypliny indywidualne drużynowe" value="Sztafetowe biegi przełajowe;Streetball;Narty;Pływanie;Ping pong;Szachy;Lekkoatletyka;Łyżwy"/>
    <add key="waitAfterError" value="2000"/>
    <add key="championsType" value="Mistrzostwa województwa;Mistrzostwa Wrocławia;Mistrzostwa dzielnicy"/>
    <add key="version" value="0.2.1"/>
  </appSettings>
  
</configuration>

  